@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Galaxy;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/Galaxy.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}
html,
body,
#__next {
  background-color: #fff;
  min-height: 100%;
}
.top-bg {
  background-image: url(https://images.unsplash.com/photo-1579546928937-641f7ac9bced?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=639&q=80);
  background-size: cover;
  background-position: center;
}

/* .top-bg:after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(transparent),
    color-stop(33.33%, rgba(0, 0, 0, 0.7)),
    color-stop(64.06%, rgba(0, 0, 0, 0.6)),
    to(rgba(0, 0, 0, 0.2))
  );
  background: linear-gradient(
    270deg,
    transparent,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.5) 64.06%,
    rgba(0, 0, 0, 0.2)
  );
} */

.container-home {
  /* z-index: 3;
  position: relative; */
  /* width: 1408px;
  margin: 0 auto; */
}

.rainbow-text-1 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ccc),
    color-stop(68.75%, #46c7e3),
    to(#fff)
  );
  background: linear-gradient(90deg, #eee, #5ddbf7 68.75%, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none !important;
}

.text-galaxy {
  font-family: Galaxy;
}

.btn {
  cursor: pointer;
}

.primary {
  background: linear-gradient(270deg, #47ffd7, #3d87a4);
}

.radius-btn {
  border-radius: 6px 20px;
}

.circle {
  border-radius: 999px;
}

.demo-block {
  background-image: radial-gradient(
      circle at 100% 100%,
      transparent 16px,
      rgba(135, 255, 233, 0.02) 0,
      rgba(135, 255, 233, 0.02) 20px,
      transparent 0
    ),
    linear-gradient(
      90deg,
      rgba(135, 255, 233, 0.02),
      rgba(12, 182, 255, 0.67),
      #10ffc6
    ),
    radial-gradient(
      circle at 0 100%,
      transparent 16px,
      #10ffc6 0,
      #10ffc6 20px,
      transparent 0
    ),
    linear-gradient(
      180deg,
      #10ffc6,
      rgba(112, 255, 88, 0.37),
      rgba(135, 255, 233, 0.05)
    ),
    radial-gradient(
      circle at 0 0,
      transparent 16px,
      rgba(135, 255, 233, 0.05) 0,
      rgba(135, 255, 233, 0.05) 20px,
      transparent 0
    ),
    linear-gradient(
      270deg,
      rgba(135, 255, 233, 0.05),
      rgba(12, 182, 255, 0.67),
      #10ffc6
    ),
    radial-gradient(
      circle at 100% 0,
      transparent 16px,
      #10ffc6 0,
      #10ffc6 20px,
      transparent 0
    ),
    linear-gradient(
      0deg,
      #10ffc6,
      rgba(12, 182, 255, 0.67),
      rgba(135, 255, 233, 0.02)
    );
  background-size: 20px 20px, calc(100% - 40px) 4px, 20px 20px,
    4px calc(100% - 40px);
  background-position: 0 0, top, 100% 0, 100%, 100% 100%, bottom, 0 100%, 0;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Galaxy;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/Galaxy.ttf") format("truetype");
}

.dashboard-container {
  width: 100%;
  min-height: 100vh;
  background-color: #0f1114;
}

.bg-linear-1 {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.bg-linear-2 {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.bg-linear-3 {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.bg-linear-4 {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}